basePath: /api/v1
definitions:
  go-template-structure_internal_domain.APIResponse:
    properties:
      data: {}
      error: {}
      message:
        type: string
      success:
        type: boolean
    type: object
  go-template-structure_internal_domain.AuthResponse:
    properties:
      access_token:
        type: string
      expires_in:
        type: integer
      refresh_token:
        type: string
      user:
        $ref: '#/definitions/go-template-structure_internal_domain.User'
    type: object
  go-template-structure_internal_domain.CreateUserRequest:
    properties:
      email:
        type: string
      first_name:
        type: string
      last_name:
        type: string
      password:
        minLength: 6
        type: string
      username:
        maxLength: 50
        minLength: 3
        type: string
    required:
    - email
    - first_name
    - last_name
    - password
    - username
    type: object
  go-template-structure_internal_domain.LoginRequest:
    properties:
      email:
        type: string
      password:
        type: string
    required:
    - email
    - password
    type: object
  go-template-structure_internal_domain.PaginationResponse:
    properties:
      limit:
        type: integer
      page:
        type: integer
      total:
        type: integer
      total_pages:
        type: integer
    type: object
  go-template-structure_internal_domain.RefreshTokenRequest:
    properties:
      refresh_token:
        type: string
    required:
    - refresh_token
    type: object
  go-template-structure_internal_domain.UpdateUserRequest:
    properties:
      avatar:
        type: string
      email:
        type: string
      first_name:
        type: string
      last_name:
        type: string
      username:
        maxLength: 50
        minLength: 3
        type: string
    type: object
  go-template-structure_internal_domain.User:
    properties:
      avatar:
        type: string
      created_at:
        type: string
      email:
        type: string
      first_name:
        type: string
      id:
        type: integer
      is_active:
        type: boolean
      last_name:
        type: string
      updated_at:
        type: string
      username:
        type: string
    type: object
  go-template-structure_internal_domain.UserListResponse:
    properties:
      pagination:
        $ref: '#/definitions/go-template-structure_internal_domain.PaginationResponse'
      users:
        items:
          $ref: '#/definitions/go-template-structure_internal_domain.User'
        type: array
    type: object
host: localhost:8080
info:
  contact:
    email: support@swagger.io
    name: API Support
    url: http://www.swagger.io/support
  description: เทมเพลต API สำหรับ Golang พร้อม Best Practices
  license:
    name: MIT
    url: https://opensource.org/licenses/MIT
  termsOfService: http://swagger.io/terms/
  title: Go Template API
  version: "1.0"
paths:
  /auth/login:
    post:
      consumes:
      - application/json
      description: Authenticate user and return tokens
      parameters:
      - description: User login credentials
        in: body
        name: credentials
        required: true
        schema:
          $ref: '#/definitions/go-template-structure_internal_domain.LoginRequest'
      produces:
      - application/json
      responses:
        "200":
          description: OK
          schema:
            allOf:
            - $ref: '#/definitions/go-template-structure_internal_domain.APIResponse'
            - properties:
                data:
                  $ref: '#/definitions/go-template-structure_internal_domain.AuthResponse'
              type: object
        "400":
          description: Bad Request
          schema:
            $ref: '#/definitions/go-template-structure_internal_domain.APIResponse'
        "401":
          description: Unauthorized
          schema:
            $ref: '#/definitions/go-template-structure_internal_domain.APIResponse'
        "500":
          description: Internal Server Error
          schema:
            $ref: '#/definitions/go-template-structure_internal_domain.APIResponse'
      summary: User login
      tags:
      - auth
  /auth/refresh:
    post:
      consumes:
      - application/json
      description: Get new access token using refresh token
      parameters:
      - description: Refresh token
        in: body
        name: token
        required: true
        schema:
          $ref: '#/definitions/go-template-structure_internal_domain.RefreshTokenRequest'
      produces:
      - application/json
      responses:
        "200":
          description: OK
          schema:
            allOf:
            - $ref: '#/definitions/go-template-structure_internal_domain.APIResponse'
            - properties:
                data:
                  $ref: '#/definitions/go-template-structure_internal_domain.AuthResponse'
              type: object
        "400":
          description: Bad Request
          schema:
            $ref: '#/definitions/go-template-structure_internal_domain.APIResponse'
        "401":
          description: Unauthorized
          schema:
            $ref: '#/definitions/go-template-structure_internal_domain.APIResponse'
        "500":
          description: Internal Server Error
          schema:
            $ref: '#/definitions/go-template-structure_internal_domain.APIResponse'
      summary: Refresh access token
      tags:
      - auth
  /auth/register:
    post:
      consumes:
      - application/json
      description: Register a new user account
      parameters:
      - description: User registration data
        in: body
        name: user
        required: true
        schema:
          $ref: '#/definitions/go-template-structure_internal_domain.CreateUserRequest'
      produces:
      - application/json
      responses:
        "201":
          description: Created
          schema:
            allOf:
            - $ref: '#/definitions/go-template-structure_internal_domain.APIResponse'
            - properties:
                data:
                  $ref: '#/definitions/go-template-structure_internal_domain.AuthResponse'
              type: object
        "400":
          description: Bad Request
          schema:
            $ref: '#/definitions/go-template-structure_internal_domain.APIResponse'
        "409":
          description: Conflict
          schema:
            $ref: '#/definitions/go-template-structure_internal_domain.APIResponse'
        "500":
          description: Internal Server Error
          schema:
            $ref: '#/definitions/go-template-structure_internal_domain.APIResponse'
      summary: Register a new user
      tags:
      - auth
  /users:
    get:
      consumes:
      - application/json
      description: Get paginated list of users
      parameters:
      - default: 1
        description: Page number
        in: query
        name: page
        type: integer
      - default: 10
        description: Items per page
        in: query
        name: limit
        type: integer
      produces:
      - application/json
      responses:
        "200":
          description: OK
          schema:
            allOf:
            - $ref: '#/definitions/go-template-structure_internal_domain.APIResponse'
            - properties:
                data:
                  $ref: '#/definitions/go-template-structure_internal_domain.UserListResponse'
              type: object
        "401":
          description: Unauthorized
          schema:
            $ref: '#/definitions/go-template-structure_internal_domain.APIResponse'
        "500":
          description: Internal Server Error
          schema:
            $ref: '#/definitions/go-template-structure_internal_domain.APIResponse'
      security:
      - BearerAuth: []
      summary: Get users list
      tags:
      - users
  /users/{id}:
    delete:
      consumes:
      - application/json
      description: Delete user by ID
      parameters:
      - description: User ID
        in: path
        name: id
        required: true
        type: integer
      produces:
      - application/json
      responses:
        "200":
          description: OK
          schema:
            $ref: '#/definitions/go-template-structure_internal_domain.APIResponse'
        "400":
          description: Bad Request
          schema:
            $ref: '#/definitions/go-template-structure_internal_domain.APIResponse'
        "401":
          description: Unauthorized
          schema:
            $ref: '#/definitions/go-template-structure_internal_domain.APIResponse'
        "404":
          description: Not Found
          schema:
            $ref: '#/definitions/go-template-structure_internal_domain.APIResponse'
        "500":
          description: Internal Server Error
          schema:
            $ref: '#/definitions/go-template-structure_internal_domain.APIResponse'
      security:
      - BearerAuth: []
      summary: Delete user
      tags:
      - users
    get:
      consumes:
      - application/json
      description: Get user details by ID
      parameters:
      - description: User ID
        in: path
        name: id
        required: true
        type: integer
      produces:
      - application/json
      responses:
        "200":
          description: OK
          schema:
            allOf:
            - $ref: '#/definitions/go-template-structure_internal_domain.APIResponse'
            - properties:
                data:
                  $ref: '#/definitions/go-template-structure_internal_domain.User'
              type: object
        "400":
          description: Bad Request
          schema:
            $ref: '#/definitions/go-template-structure_internal_domain.APIResponse'
        "401":
          description: Unauthorized
          schema:
            $ref: '#/definitions/go-template-structure_internal_domain.APIResponse'
        "404":
          description: Not Found
          schema:
            $ref: '#/definitions/go-template-structure_internal_domain.APIResponse'
        "500":
          description: Internal Server Error
          schema:
            $ref: '#/definitions/go-template-structure_internal_domain.APIResponse'
      security:
      - BearerAuth: []
      summary: Get user by ID
      tags:
      - users
    put:
      consumes:
      - application/json
      description: Update user by ID
      parameters:
      - description: User ID
        in: path
        name: id
        required: true
        type: integer
      - description: User update data
        in: body
        name: user
        required: true
        schema:
          $ref: '#/definitions/go-template-structure_internal_domain.UpdateUserRequest'
      produces:
      - application/json
      responses:
        "200":
          description: OK
          schema:
            allOf:
            - $ref: '#/definitions/go-template-structure_internal_domain.APIResponse'
            - properties:
                data:
                  $ref: '#/definitions/go-template-structure_internal_domain.User'
              type: object
        "400":
          description: Bad Request
          schema:
            $ref: '#/definitions/go-template-structure_internal_domain.APIResponse'
        "401":
          description: Unauthorized
          schema:
            $ref: '#/definitions/go-template-structure_internal_domain.APIResponse'
        "404":
          description: Not Found
          schema:
            $ref: '#/definitions/go-template-structure_internal_domain.APIResponse'
        "500":
          description: Internal Server Error
          schema:
            $ref: '#/definitions/go-template-structure_internal_domain.APIResponse'
      security:
      - BearerAuth: []
      summary: Update user
      tags:
      - users
  /users/profile:
    get:
      consumes:
      - application/json
      description: Get current user profile
      produces:
      - application/json
      responses:
        "200":
          description: OK
          schema:
            allOf:
            - $ref: '#/definitions/go-template-structure_internal_domain.APIResponse'
            - properties:
                data:
                  $ref: '#/definitions/go-template-structure_internal_domain.User'
              type: object
        "401":
          description: Unauthorized
          schema:
            $ref: '#/definitions/go-template-structure_internal_domain.APIResponse'
        "500":
          description: Internal Server Error
          schema:
            $ref: '#/definitions/go-template-structure_internal_domain.APIResponse'
      security:
      - BearerAuth: []
      summary: Get user profile
      tags:
      - users
    put:
      consumes:
      - application/json
      description: Update current user profile
      parameters:
      - description: User update data
        in: body
        name: user
        required: true
        schema:
          $ref: '#/definitions/go-template-structure_internal_domain.UpdateUserRequest'
      produces:
      - application/json
      responses:
        "200":
          description: OK
          schema:
            allOf:
            - $ref: '#/definitions/go-template-structure_internal_domain.APIResponse'
            - properties:
                data:
                  $ref: '#/definitions/go-template-structure_internal_domain.User'
              type: object
        "400":
          description: Bad Request
          schema:
            $ref: '#/definitions/go-template-structure_internal_domain.APIResponse'
        "401":
          description: Unauthorized
          schema:
            $ref: '#/definitions/go-template-structure_internal_domain.APIResponse'
        "500":
          description: Internal Server Error
          schema:
            $ref: '#/definitions/go-template-structure_internal_domain.APIResponse'
      security:
      - BearerAuth: []
      summary: Update user profile
      tags:
      - users
securityDefinitions:
  BearerAuth:
    description: Type "Bearer" followed by a space and JWT token.
    in: header
    name: Authorization
    type: apiKey
swagger: "2.0"
